<div class="location-input-container">
  <div class="map-container">
    <div #map id="map"></div>
  </div>
  <div class="form-container">
    <h2>Nueva Ubicación</h2>
    <div class="form-group">
      <label for="destinoAsignado">Destino Asignado</label>
      <div class="relative">
        <input
          type="text"
          id="destinoAsignado"
          [(ngModel)]="currentAddress"
          placeholder="Selecciona una ubicación en el mapa o ingresa manualmente"
        />
        @if (isLoading) {
        <span class="loading-spinner">
          <svg
            class="animate-spin h-5 w-5 text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
        </span>
        }
      </div>
    </div>
    <div class="form-group">
      <label for="tiempoEnDestino">Tiempo en Destino (minutos)</label>
      <input
        type="number"
        id="tiempoEnDestino"
        [(ngModel)]="tiempoEnDestino"
        min="1"
        value="60"
      />
    </div>
    <div class="form-group coordinates">
      <div>
        <label>Latitud: {{ marker?.getLatLng()?.lat?.toFixed(6) || "" }}</label>
      </div>
      <div>
        <label
          >Longitud: {{ marker?.getLatLng()?.lng?.toFixed(6) || "" }}</label
        >
      </div>
    </div>
    <button class="btn-save" (click)="saveLocation()" [disabled]="isLoading">
      Guardar Ubicación
    </button>
  </div>
</div>
